.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border-style: solid;
    align-self: center;
    width: 40vw;
    border-width: 3px;
    border-color: #46D115;
    border-radius: 30px;
    padding: 50px 50px 30px 50px;

    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.input span {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    margin-bottom: 30px;
}

input[type=text] {
    background-color: #ffffff00;
    border: none;
    border-bottom: 4px solid #46D115;
    border-top: 0px;
    border-radius: 0px;
}

input[type=submit] {
    color: #ffffff;
    background-color: #46d115;
    font-size: 19px;
    border: 0px solid #46d115;
    border-radius: 20px;
    padding: 9px 50px;
    cursor: pointer;
    align-self: flex-end;
}